[mysqld]

user = mysql
pid-file = var/run/mysqld/mysqld.pid
socket = var/run/mysqld/mysqld.sock

basedir = /usr
tmpdir = /tmp

datadir = var/lib/mysql

log-error = var/log/mysql/error.log

bind-adesse = 0.0.0.0
port = 3306

skip-name-resolve

character-set-server = utf8mb4

collation-server = utf8mb4_general_ci